body {
    font-family: 'Work Sans', sans-serif;
    background: #eee;
}

a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

pre {
    max-height: 50em;
    overflow: auto;
    max-width: 1000px;
    width: 100%;
}

input[type=submit] {
    font-family: 'Work Sans', sans-serif;
}

